.navbar
    background-color: rgba(255,255,255,0)
    .dropdownicon
        color: $navbar-text-color
    a 
        color: $navbar-text-color
        font-family: 'Roboto', sans-serif
    //     font-size: 1.7rem
    //     border: 1px
    //     text-align: left
    //     text-shadow: 1px 1.2px 2px GhostWhite
    //     font-weight: bold

    a:hover
        color: $navbar-text-color-hover
    a:active
        color: $navbar-text-color-active

.navbar-container
    margin-top: 70px;
    border-bottom: 1px solid grey
    width: 658px

    // #nav-login:before
    //     font-family: 'FontAwesome'
    //     content: '\f2be'

@media (max-width: 768px)
    .navbar-container
        width: 100%  
