$font-mukta-malar: "Mukta Malar"
$font-ink-free: "Ink Free"
$font-slabo: "Slabo"
    
$navbar-text-color: #A5950C
$navbar-text-color-hover: #FFE500
$navbar-text-color-active: #FFE500

$button-background-color: rgba(255,255,255,0.3)
$button-color: black
$button-border-color: rgba(255,255,255,0.3)
$button-background-color-hover: OliveDrab
$button-color-hover: white

$index-background-color: #edeae8
$transparent: rgba(255,255,255,0)

$preferred-text-color: OliveDrab